/*.table-wrapper{*/
  /*width: 80%;*/
  /*margin: 40px auto;*/
  /*height: 500px;*/
/*}*/
/*.container-wrapper{*/
  /*width: 150px;*/
/*}*/

table {
  width: 80%;
  margin: auto;
}
.form-wrapper{
  width: 90%;
  margin: 40px auto;
}
mat-card-title{
  text-align: center;
}
