ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #3B4C54;
  height: 100%;
  float: left;
  text-align: center;
  color: #959FA9;
}

li a {
  display: block;
  /*color: #7c898e;*/
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  margin-top: 70px;

}

li a:hover {
  filter: invert(96%) saturate(50%) hue-rotate(143deg) brightness(101%) contrast(100%);
}

.img-menu-item {
  color: red;
  width: 80px;
  height: 80px;
}
