.budget-header{
  height: 50px;
  background: #3E4C55;
  padding: 10px;
  text-align: center;
  color: #CFD8DC;
}
.budget-item{
  height: 50px;
  color: #CFD8DC;
  margin-top: 10px;
  border-bottom: 1px solid #CFD8DC;
  width: 100%;
  box-sizing: border-box;
}
.img-budget-item{
  width: 10%;
  height: 40px;
  float: left;
  color: #CFD8DC;
  margin:5px 5px 30px 20px;
}
.clear{
  clear: both;
}
.budget-item-wrapper{
  float: left;
  width: 75%;
  box-sizing: border-box;
}
.budget-item-header{
  width: 70%;
  height: 25px;
  box-sizing: border-box;
}
.budget-item-value{
  width: 70%;
  height: 25px;
  color: lightskyblue;
  overflow: hidden;
  box-sizing: border-box;
}
.new-budget-button{
  height: 40px;
  text-align: center;
  background: #3E4C55;
  font-size: 2em;
  color: #CFD8DC;
  width: 50px;
  float: right;
  margin-bottom: 40px;
}

.new-budget-button:hover{
  color: lightgoldenrodyellow;
}

.create-budget-wrapper{
  background: #3E4C55;
  color: #CFD8DC;
  padding: 20px;
  margin: 20px;
}
.create-budget-wrapper > input{
  /*background: transparent;*/
  border: none;
  padding-left: 10px;
  border-radius: 4px;
}
.create-budget-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.create-budget-label-wrapper{
  width: 40%;
}
