<mat-card class="mat-card-wrapper">
  <mat-card-title>Вхід в систему</mat-card-title>
  <div class="login-wrapper" *ngIf="!isLoggedIn()">
    <form class="example-form" [formGroup]="form" (submit)="login($event)">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="username" placeholder="Login">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" formControlName="password" matInput placeholder="Password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Увійти</button>
    </form>
  </div>
</mat-card>
