table {
  /*background: #3E4C55;*/
  background: #3B4C54;
  /*border: 2px solid #CFD8DC;*/
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #495e68;
}

th {
  background-color: #3E4C55;
  color: white;
}

.img-flag {
  height: 50px;
  width: 70px;
}
