.news-managment-wrapper {
  width: 90%;
  height: 100%;
  color: black;
  background: rgb(25, 43, 53);
  background: radial-gradient(circle, rgba(25, 43, 53, 0.9346113445378151) 100%, rgba(47, 62, 79, 1) 100%);
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.header{
  height: 70px;
  width: 90%;
  margin-top: 10px;
  color: #CFD8DC;
  border-bottom: #CFD8DC;
}
.date{
  font-size: 3em;
  font-weight: 100;
  float: left;
  margin-left: 10px;
}
.title{
  font-size: 2em;
  float: left;
  margin-left: 35%;
}
.feed{
  display: inline-block;
  height: 500px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid white;
}
h2{
  text-align: center;
}
.first-carousel-wrapper{
  padding-bottom: 400px;
  padding-left: 30%;
  float: left;
}
.second-carousel-wrapper{
  padding-bottom: 400px;
  padding-right: 70%;
  float: left;
}
