.budget-item{
  color: #CFD8DC;
  margin: 20px 0;
  border-bottom: 1px solid #CFD8DC;
  width: 100%;
  box-sizing: border-box;
}
.img-budget-item{
  width: 10%;
  height: 40px;
  float: left;
  color: #CFD8DC;
  margin:5px 5px 30px 20px;
}
.clear{
  clear: both;
}
.budget-item-wrapper{
  width: 30%;
  float: left;
  box-sizing: border-box;
}
.budget-item-header{
  box-sizing: border-box;
}
.budget-item-value{
  color: lightskyblue;
  overflow: hidden;
  box-sizing: border-box;
}
.doughnut-wrapper{
  display: block;
  float: left;
}
