/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0px;
  margin: 0px;
}

#title-bar {
  -webkit-app-region: drag;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #03a9f4;
  padding: none;
  margin: 0px;
}

#title {
  position: fixed;
  top: 0px;
  left: 6px;
  color:white;

}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
}

.invert {
  filter: invert(41%) sepia(17%) saturate(411%) hue-rotate(159deg) brightness(95%) contrast(93%);
}
/*.opacity { filter: opacity(80%); }*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
