<div class="note-managment-wrapper">

  <div class="header">
    <h2>My Tasks</h2>
  </div>
  <hr/>

  <div class="notes-wrapper">
    <div class="note" *ngFor="let note of notes" (click)="selectNote(note)">
      <div *ngIf="selectedNote === note else displayNote" (mouseleave)="update(selectedNote)">
        <h4>
          <input type="text"
                 class="fixed-input"
                 [(ngModel)]="selectedNote.name"
                 placeholder="name">
        </h4>
        <textarea type="text"
                  class="wide-input"
                  [(ngModel)]="selectedNote.description"
                  placeholder="description">
                </textarea>
        <label>Reminder: </label>
        <input [(ngModel)]="selectedNote.reminderEnable" placeholder="description" type="checkbox">
      </div>

      <ng-template #displayNote>
        <h4 class="note-header"> {{ note.name }}</h4>
        <div class="note-desc">{{ note.description }}</div>

        <button class="btn btn-outline-dark delete" (click)="remove(note)">Remove</button>

      </ng-template>
    </div>

    <div class="new-note">
      <button id="addButton" (click)="addEmptyNote()">+</button>
    </div>
  </div>
</div>


