


<div class="finance-managment-wrapper">
  <div class="header">
    <!--<div class="date">{{date | date:'MMM d'}}</div>-->
    <div class="title">
      <h2>Statistics</h2>
    </div>
  </div>
  <hr/>
  <div class="main-statistics" *ngIf="!isLoaded">
        <div>
          <!--<canvas baseChart width="500px" height="500px"-->
                  <!--[datasets]="chartData"-->
                  <!--[chartType]="'line'"-->
                  <!--[labels]="chartLabels"-->
                  <!--[options]="chartOptions">-->
          <!--</canvas>-->
        </div>
  </div>
</div>
