.example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 }

.form-wrapper{
  width: 80%;
  margin: 40px auto;
  padding: 50px 30%;
  height: 500px;
  display: block;
}


.example-full-width {
  width: 100%;
}
